.herograph #wrapper {
  width: 650px;
  margin: 0 auto;
}

.herograph {
  width: 650px;
  height: 650px;
}

.herographinfo {
  width: 100%;
  height: 30px;
  font-size: 16px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 20px;
}

/* SVG */
.herograph path {
	stroke: #666;
  fill: #333;
}

.herograph circle {
  fill: #225D23;
}

.herograph text {
  font-size: 10px;
  fill: #666;
  text-anchor: middle;
}

.herograph g.node {
  cursor: pointer;
}

.herograph g:hover text {
  font-weight: 500;
  fill: black;
  font-size: 14px;
}

.herograph g:hover circle {
  fill: yellow;
}

.herograph #title {
  margin: 10px 0;
}

.herograph #title .desc {
  font-size: 14px;
}