.hiveplot.axis {
  stroke: #000;
  stroke-width: 1.5px;
}

.hiveplot .node circle {
  stroke: #000;
}

.hiveplot .link {
  fill: none;
  stroke: #999;
  stroke-width: 1.5px;
  stroke-opacity: .3;
}

.hiveplot .link.active {
  stroke: red;
  stroke-width: 2px;
  stroke-opacity: 1;
}

.hiveplot .node circle.active {
  stroke: red;
  stroke-width: 3px;
}
